<div class="container">
    <div>
        <button type="button" class="btn btn-primary" (click)="refreshWindow()">Refresh</button>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" [class.active]="currentTab == inventoryTabsConsts.ROOMS_OVERVIEW"
                id="nav-data-viewer-tab" data-toggle="tab" (click)="showSelectedTab(inventoryTabsConsts.ROOMS_OVERVIEW)"
                role="tab" aria-controls="nav-home" aria-selected="true">Rooms overview</a>

            <a class="nav-item nav-link" [class.active]="currentTab == inventoryTabsConsts.INVENTORY_OVERVIEW"
                id="nav-power-user-tab" data-toggle="tab"
                (click)="showSelectedTab(inventoryTabsConsts.INVENTORY_OVERVIEW)" role="tab" aria-controls="nav-profile"
                aria-selected="false">Inventory
                overview</a>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" [class.show]="currentTab == inventoryTabsConsts.ROOMS_OVERVIEW"
            [class.active]="currentTab == inventoryTabsConsts.ROOMS_OVERVIEW" id="nav-data-viewer" role="tabpanel"
            aria-labelledby="nav-data-viewer-tab">
            <ng-template [ngIf]="currentTab == inventoryTabsConsts.ROOMS_OVERVIEW">

                <table class="table table-responsive table-hover">
                    <caption>List of rooms</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Room number</th>
                            <th scope="col">Products</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let room of hotelDevices; index as i">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{room.roomNumber}}</td>
                            <td>{{room.missingProducts | json}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <app-rooms-overview></app-rooms-overview> -->
            </ng-template>

        </div>
        <div class="tab-pane fade" [class.show]="currentTab == inventoryTabsConsts.INVENTORY_OVERVIEW"
            [class.active]="currentTab == inventoryTabsConsts.INVENTORY_OVERVIEW" id="nav-power-user" role="tabpanel"
            aria-labelledby="nav-power-user-tab">
            <ng-template [ngIf]="currentTab == inventoryTabsConsts.INVENTORY_OVERVIEW">
                <table class="table table-responsive table-hover">
                    <caption>List of missing items</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Rooms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of missingItemsWithRooms; index as i">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{product.productName}}</td>
                            <td>{{product.rooms | json}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <app-inventory-overview></app-inventory-overview> -->
            </ng-template>

        </div>

    </div>

</div>